*{
    margin: 0;
    padding: 0;
  }
  
  header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

.header_r{
  position: relative;
  padding: 40px;

}

.header_image1{
  position: absolute;
  top: 69px;
  left: 53px;
}

  a.top_index span {
    opacity:0;
    transition: 0.3s;
    position: absolute;
    top: -13%;
    left: 54px;
}
a.top_index:hover span {
    border: none;
    opacity: 1;
}  


  a.top span {
    opacity:0;
    transition: 0.3s;
    position: absolute;
    top: -13%;
    left: 53px;
}
a.top:hover span {
    border: none;
    opacity: 1;
}

.header_image2{
  position: absolute;
  top: 65px;
  left: 83px;
}

a.about span {
  opacity:0;
  transition: 0.3s;
  position: absolute;
  top: -13%;
  left: 83px;
}
a.about:hover span {
  border: none;
  opacity: 1;
}


.header_image3{
  position: absolute;
  top: 68px;
  left: 46px;
}
a.photo span {
  opacity:0;
  transition: 0.3s;
  position: absolute;
  top: -13%;
  left: 44px;
}
a.photo:hover span {
  border: none;
  opacity: 1;
}

.header_image4{
  position: absolute;
  top: 71px;
  left: 53px;
}

a.route{
white-space: nowrap;  
}

a.route span {
  opacity:0;
  transition: 0.3s;
  position: absolute;
  top: -13%;
  left: 53px;
}
a.route:hover span {
  border: none;
  opacity: 1;
}

  .right_header a:hover {
    color: rgb(69, 99, 199);
  }

  header {
    height: 100px;
  }


  .container_header {
    z-index: 999;
    position: fixed;
    transition: 1.5s;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .container_header.hide{
    transform: translateY(-100%);
}

  .img_icon {
    width: 100px;
    height: 100px;
    margin-right: 2%;
    margin-left: 3%;
  }
  .left_header {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: black;
  }
  .left_header > a {
    color: black;
    padding: 0 10px;
  }


  .left_header, .right_header {
    display: flex;
    align-items: center;
  }
  .right_header {
    margin-left: auto; /*右寄せ*/
    margin-right: 15px;
  }
  .right_header > a {
    margin-left: auto;
    padding: 0 40px;
  }

  
  .first-block {
    position   : relative;
    height     : 600px;
    margin     : 0 50px;
    overflow   : hidden;
  }
  
  /* --- 背景の指定 ------------------------------------------- */
  .first-block .bgImg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 28s infinite;   /* 4画像 × 各5s = 20s */
  }
  
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .first-block .src1 {
    background-image : url(../images/2.jpg); 
    background-size: cover;
    width: 100%;
    height: 600px;
  

  }
  .first-block .src2 {
    background-image : url(../images/1.jpg);   /* 背景の画像を指定 */
    animation-delay  : 7s;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .first-block .src3 {
    background-image : url(../images/4.jpg);   /* 背景の画像を指定 */
    animation-delay  : 14s;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .first-block .src4 {
    background-image : url(../images/6.png);   /* 背景の画像を指定 */
    animation-delay  : 21s;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  
  @keyframes bgAnime {
     0% { opacity: 0; }
     5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
   100% { opacity: 0; }
  }
  
  /* --- 前面の文字定義（サンプルのため変更してください） ----- */
  .first-block .boxString{
    position   : absolute;
    display    : inline-block;
    padding    : 20px;
    top        : 15%;                               /* 中央寄せ */
    left       : 50%;
    transform  : translate(-50%,-50%);
    z-index    : 11;
    font-family: serif;
    color: rgb(95, 91, 91);
    font-size: 50px;
  }

  .title-container {
    text-align: center;
  }

  /*   First block End   */
  
  
  /*   Second block   */
  #second-block {
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
  }
  
  .event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 100%;
  }
  
  .events-title {
    font-size: 60px;
    font-family: serif;
    color: #444;
  }
  
  .event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    margin-top: 0px;

    width: 100%;
  }
  
  .event-name {
    font-size: 17px;
    padding: 10px;
    width: 40%;
    margin-left: 1%;
    margin-top: 15%;
    text-align: left;
 
  }
  
  span {
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
  }
  .title2{
    margin-top: 50%;
    width: 100%;
    margin-left: 9%;
    text-align: left;
  }
.cont3{
  margin-right: 10%;
}
  
  .title3{
    margin-top: 50%;
    width: 100%;
    margin-left: 3%;
    text-align: left;
 
  }

  .event-image {
    margin: 50px;
    width: 50%;
  }

  /* ボタン */
  .animation {
    width:150px;
    height:70px;
    text-align:center;
    border:2px solid #BBBBBB;
    float:left;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin-left: 130px;
    margin-top: 30px;
  }
  .animation a {
    font-family:arial;
    font-size:20px;
    color:#BBBBBB;
    text-decoration:none;
    line-height:70px;
    transition:all .10s ease;
    z-index:2;
    position:relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .effect {
    width:150px;
    height:70px;
    top:-2px;
    left:-150px;
    background:#BBBBBB;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }
  .animation:hover .effect {
    left:0;
  }
  .animation:hover a {
    color:#FFFFFF;
  }
  
  /*   Second block End   */

  /* image.html */
.user_btn{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: 3%;
    width: 200px;
}

.first_cont{
  display: flex;
  flex-direction: column;

}

.image_text{
  width: 100%;
  padding-left: 3%;
  background: linear-gradient(to right, rgb(253, 253, 253), rgb(50, 79, 177));
}
.image_text a{
  font-size: 30px;
  color: #444;
  font-family: serif;
}



/* label {
    padding: 10px 40px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer;
} */

.custom-file-input{
  /* background-color: aqua; */
  margin-top: 2%;

}

.cont{
  height: 70%;

}

.user_spot{
  justify-content: center;
  margin-top: -100px;
  margin-left: 40%;
  height: 44%;
  margin-bottom: 2%;
}

  .spot_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
  }

  .spot{
    border: 1px solid rgb(221, 221, 221);
    margin: 10px auto;
	  padding: 5px 10px;
    transition-duration: 0.5s;
    margin-bottom: 30px;
  }


  .spot img{
    width: 100%;
    cursor: pointer;
  }
  .spot:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }
    

    
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: rgb(192, 203, 218);
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .cont_route{
    height: 70%;
  }

.route a{
  width: 100px;
}

.route_text{
  width: 100%;
  padding-left: 3%;
  background: linear-gradient(to right, rgb(253, 253, 253), rgb(50, 79, 177));
}
.route_text a{
  font-size: 30px;
  color: #444;
  font-family: serif;
}

.route {
  margin-top: 3%;
  margin-left: 3%;
}
  #map {
    height: 100%;
    margin: 5%;
    margin-top: 1%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .route_a{
    margin-left: 3%;
  }

  .route_result{
    margin-left: 5%;
    margin-top: 3%;
  }

  .route_result a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: serif;
  }





  /* input[type="submit"] {
    display: none;
} */
  input[type="file"] {
    display: none;
}

.custom-file label {
  display:block;
  height: 50px;
  width: 70px;
  margin-top: 20px;
  padding: 10px 40px;
  background-image:url(../images/無題1.png) ;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgb(141, 141, 141);
  transition: .3s;
  border: 2px solid rgb(128, 129, 179); 
  border-radius: 1em; 
}



.form-control {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #cacaca;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 0.5em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  /* box-shadow    : 3px 3px 6px #666666;  影の設定 */
  border        : 2px solid #070725;    /* 枠の指定 */
  margin-left: 45px;
}
.form-control:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.form-control2 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #cacaca;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 0.5em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  /* box-shadow    : 3px 3px 6px #666666;  影の設定 */
  border        : 2px solid #070725;    /* 枠の指定 */
  margin-left: 10px;
}

input {
  font-size: 20px;
}

.form-control2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

label:hover{
  opacity: 0.5;  
  box-shadow: none;
}


p {
  margin: 10px 0 0 0;    
}