<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ここ旅</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="../static/stylesheets/index.css">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- hrefはリンクの到着先 -->
    <header>
        <nav class="container_header">
          <img src="../static/images/ロゴ.jpg" alt="トップ画像" title="トップ画像" class="img_icon">
          <div class="left_header">
            <a href="#" class="col-1">望んだ景色はまさに「ここ」
            </a>

          </div>
          <div class="right_header">
            <div class='header_r'>
            <a href="/" class='top' >トップ<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/top.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image1'></a>
</div>
            <div class='header_r'>
            <a href='/upload' class='photo'>写真<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/photo.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image3'></a>
</div>
            <div class='header_r'>
            <a href="/route" class='route'>道のり<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/route.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image4'></a>
          </div>
          </div>
        </nav>
      </header>

    
 <!-- コンテンツを一旦仮置きする -->
 <div class="image_text">
 <a>あなたの見たい「景色」を入力してください</a>
 </div>


  <div class="user_btn">
   
      <form action = "/upload" method="post" enctype="multipart/form-data">
          <!-- <p><input type="file" id = "upload_user_file" name = "upload_user_file" multiple="multiple">
              <input type="submit" class="form-control btn btn-primary"> -->
          <div class="custom-file">
            <label>
              <input type="file" id = "upload__file" name = "upload_file" multiple="multiple" class="custom-file-input" required>
            </label>
            <p>選択されていません</p>
              <!-- <label class="custom-file-label" for="validatedCustomFile"></label> -->
              <div class="invalid-feedback"></div>
          </div>
          <div class="submit">
  
              <input type="submit" class="form-control" value='送信'>
 
          </div>
      </form>
  </div>
<!-- for文で回しているがfile内の要素は1つなので一回だけ作動している -->


  {% if user_images %}
  {% for path in user_images %}
      <div class='user_spot'>
      <img src="images/{{ path }}" style=" margin-top: 10px; vertical-align: bottom; width: 200px; ">
 
      </div>
  {% endfor %}
  {% else %}
  <div class='cont'>
    <!-- <img src="../static/images/2.jpg" class="cont_image"> -->

  </div>





  
  {% endif %}

  {% if items %}

  <div class="image_text">
    <a>気になる「景色」を選択してください</a>
    </div>

 <div class='spot_container'>

  {% for i in items %}
      <div class='spot'>
        <a href="/route?index={{i}}">
          <img src="{{files[i]}}" style="margin-top: 10px; vertical-align: bottom; width: 200px;" value="{{files[i]}}">
        </a>  
      </div>
  {% endfor %}
  {% endif %}
</div>  

<!-- <div class='spot_container'>
  {% if user_images %}
  {% for i in items %}
      <div class='spot'>
        <form action='/route' method='GET'>
          <input type="image" src="{{files[i]}}" style="margin-top: 10px; vertical-align: bottom; width: 200px;"
          name="name" value='5'>
        </form>  
      </div>
  {% endfor %}
  {% endif %}
</div>  -->

<!--   Third block End   -->
    <!-- コンテンツはここまで -->

  <footer>
      <small>&copy; 2021 Nakamura Shunta</small>
    </footer>

    <script type="text/javascript" src="../static/javascripts/index.js"></script>
  </body>
</html>