<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ここ旅</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="../static/stylesheets/index.css">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- hrefはリンクの到着先 -->
    <header>
        <nav class="container_header">
          <img src="../static/images/ロゴ.jpg" alt="トップ画像" title="トップ画像" class="img_icon">
          <div class="left_header">
            <a href="#" class="col-1">望んだ景色はまさに「ここ」
            </a>

          </div>
          <div class="right_header">
            <div class='header_r'>
            <a href="/" class='top' >トップ<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/top.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image1'></a>
          </div>
          <div class='header_r'>
            <a href='/upload' class='photo'>写真<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/photo.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image3'></a>
</div>
<div class='header_r'>
            <a href="/route" class='route'>道のり<span><img src="../static/images/ロゴ2.jpg" style="margin-top: 0px; vertical-align: bottom; width: 25px;"></span>
              <img src="../static/images/route.png" style="margin-top: 0px; vertical-align: bottom; width: 20px;" class='header_image4'></a>
</div>
          </div>
        </nav>
      </header>

    
 <!-- コンテンツを一旦仮置きする -->
 <div class="route_text">
  <a>出発地と目的地を入力して下さい</a>
  </div>

<div class="route_a">
  <a>※地点は「名称」、もしくは半角数字の「緯度 経度」で入力してください</a>
</div>

 <div class="route">

  <form action="/route" method="post">
  <input type="text" name="origin" value='{{origin}}' placeholder="出発地点">
  <input type="text" name="destination" value='{{destination}}' placeholder="到着地点">
  <input type="submit" class="form-control2" name="submit" value="ルート検索"　>
  </form>
</div>





{% if duration=='None' %}
<a>出発地と目的地を入力してください</a>
<div class='cont_route'>
  <!-- <img src="../static/images/2.jpg" class="cont_image"> -->
</div>

{% elif duration=='No' %}
<a>検索が出来ませんでした</a>
<div class='cont_route'>
  <!-- <img src="../static/images/2.jpg" class="cont_image"> -->
</div>


{% elif origin and destination %}

<div class="route_result">
<a>距離は{{disttans}}</a>
<br>
<a>車での所要時間は{{duration}}です</a>
</div>

<!-- map -->
<div id="map"></div>
    <script>
function initMap() { 
  // 地図を生成して表示
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,

    mapTypeId: "roadmap"
  });
  
  //DirectionsService のオブジェクトを生成
  var directionsService = new google.maps.DirectionsService();
  
  //DirectionsRenderer のオブジェクトを生成
  var directionsRenderer = new google.maps.DirectionsRenderer();
  
  //directionsRenderer と地図を紐付け
  directionsRenderer.setMap(map); 
  

  
  // ルートを取得するリクエスト
  var request = {
    origin: '{{origin}}',      // 出発地点の緯度経度
    destination: '{{destination}}',   // 到着地点の緯度経度
    travelMode: 'DRIVING' //トラベルモード（）
  };
  
  //DirectionsService のオブジェクトのメソッド route() にリクエストを渡し、
  //コールバック関数で結果を setDirections(result) で directionsRenderer にセットして表示
  directionsService.route(request, function(result, status) {
    //ステータスがOKの場合、
    if (status === 'OK') {
      directionsRenderer.setDirections(result); //取得したルート（結果：result）をセット
    }else{
      alert("取得できませんでした：" + status);
    }
  });
  
}
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyGyFXji3azV7vHBBqasPDjTI8vmf-tyI&callback=initMap"
    async defer></script>

    {% else %}
    <div class='cont_route'>
      <!-- <img src="../static/images/2.jpg" class="cont_image"> -->
    </div>



    {% endif %}
 
<!--   Third block End   -->
    <!-- コンテンツはここまで -->

  <footer>
      <small>&copy; 2021 Nakamura Shunta</small>
    </footer>

    <script type="text/javascript" src="../static/javascripts/index.js"></script>
  </body>
</html>